# LlamaIndex RAG应用依赖包
# 核心框架
llama-index>=0.10.0
llama-index-llms-dashscope==0.4.0
llama-index-embeddings-huggingface==0.5.4
llama-index-vector-stores-chroma==0.4.2
llama-index-retrievers-bm25==0.5.2
llama-index-storage-docstore-redis ==0.3.0
llama-index-storage-index-store-redis==0.4.0
# 切割PDF文档
unstructured==0.17.2
pdfminer.six==20250506
pi_heif==0.22.0
unstructured-inference==1.0.5
pdf2image==1.17.0

# 文档处理
pypdf>=3.0.0
python-docx>=0.8.11
Markdown>=3.4.0

# 基础依赖
openai>=1.0.0
numpy>=1.24.0
pandas>=2.0.0
tiktoken>=0.5.0

# 可选增强功能
sentence-transformers>=2.2.0  # 本地嵌入模型
chromadb>=0.4.0              # 向量数据库
faiss-cpu>=1.7.0             # 高性能向量搜索

# 开发工具
python-dotenv>=1.0.0         # 环境变量管理

#
fastapi==0.115.9
pydantic==2.11.7
python-multipart==0.0.20
uvicorn==0.34.3
PyJWT==2.10.1
pwdlib==0.3.0
pwdlib[argon2]==0.3.0
redis>=5.0.0
# pip install torch==2.7.1 torchvision torchaudio -f https://mirrors.aliyun.com/pytorch-wheels/cu128/

pymupdf4llm
